<mat-card class="card-vehicle">
    <mat-card-content>
        
        <div class="card-vehicle__plaque">
            <span><strong>{{'PLAQUE' | translate}}</strong></span>
            <span class="card-vehicle__plaque-text"><strong>{{vehicle?.plaque}}</strong></span>
        </div>

        <div class="card-vehicle__type">
            <span><strong>{{'TYPE' | translate}}</strong></span>
            <span class="card-vehicle__plaque-text"><strong>{{vehicle?.type}}</strong></span>
        </div>

    </mat-card-content>
</mat-card>