<mat-card style="width: 690px;">
    <mat-card-content class="card-vehicle-content">
        
        <div class="card-vehicle-content__plaque">
            <span><strong>{{'PLAQUE' | translate}}</strong></span>
            <span class="card-vehicle-content__plaque-text"><strong>{{vehicle?.plaque}}</strong></span>
        </div>

        <div class="card-vehicle-content__type">
            <span class="card-vehicle-content__type-text"><img [src]="icon"></span>
        </div>

        <div class="card-vehicle-content__time">
            <span><img src="../../../../../assets/image/time.png"></span>
            <span class="card-vehicle-content__time-text">{{vehicle?.formattedTime}}</span>
        </div>

        <div class="card-vehicle-content__totalAmount">
            <span class="card-vehicle-content__totalAmount-text">{{ vehicle?.totalAmount | currency:'COP ':'symbol':'1.0-0' }}</span>
        </div>

        <div class="card-vehicle-content__button">
            <button mat-raised-button color="primary" (click)="liquidate()">{{'LIQUIDATE' | translate}}</button>
        </div>

    </mat-card-content>
</mat-card>