<button (click)="navigateMenu()" mat-mini-fab color="primary" class="menu">
    <mat-icon>menu</mat-icon>
</button>
<router-outlet></router-outlet>
<div class="footer">
    <strong>Atribución de imágenes e iconos</strong>
    <a href="https://www.freepik.es/vector-gratis/composicion-isometrica-estacionamiento_4385335.htm#query=parking&position=5&from_view=search&track=sph&uuid=d1100be6-ea37-4d71-8a4d-68116853d6b8">Imagen
        de macrovector</a> en Freepik

    <a href="https://es.vecteezy.com/vectores-gratis/resumen">Resumen Vectores por Vecteezy</a>


    <a href="https://www.freepik.es/icono/bicicleta_3198336">Icono de Freepik</a>


    <a href="https://es.vecteezy.com/png-gratis/reloj">Reloj PNGs por Vecteezy</a>

    <a
        href="https://www.freepik.es/icono/volante_5972710#fromView=search&term=volante+carro&track=ais&page=1&position=10&uuid=ad807f42-7734-4000-92c9-d84865987254">Icono
        de IconBaandar</a>
</div>